
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0; /*Removes the default margins of some elements*/
    padding: 0; /*Same case*/
    box-sizing: border-box; /*Define that the total size of an element will be calculated including padding and border*/
    background-color: rgb(254, 245, 255);
    font-family: "Press Start 2P", serif;
    outline: none; /*Removes the outline that some browsers automatically apply to interactive elements*/
}

.container{
    height: 100vh; /*Sets the height of the .container element to 100% of the height of the viewport*/
    display: flex; /*Activates flexbox layout for the element*/
    justify-content: center; /*Aligns the child items of the .container horizontally in the center*/
    align-items: center; /*Aligns the child items of the .container vertically in the center*/
}

.border{
    background-color: #ff8fb4; /* Soft, pastel pink background */
    padding: 9px; /*Spacing of internal items*/ 
    border-radius: 30px; /*Round the edges*/
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3); /*Box-shadow for depth*/
}

.Calculator{
    background-color: #f06292; /* Soft, pastel pink background */
    padding: 15px; /*Spacing of internal items*/ 
    border-radius: 30px; /*Round the edges*/
    display: grid; /*Activate grid layout*/
    grid-template-columns: repeat(4, 68px); /*Organizes the grid into 4 columns of 68px*/
}

input{
    grid-column: span 4; /*The input will occupy 4 columns*/
    height: 70px;
    width: 260px;
    text-align: right; /*Aligns text within the input to the right*/
    box-shadow: -5px -5px 0px #ffffff, /* Light shadows for a soft effect */
                5px 10px 2px rgba(0,0,0,0.2);
    border: none; /*Remove default black border*/
    border-radius: 30px;
    color: #e91e63; /* Pink text */
    background-color: #fff; /* White background for the input field */
    font-size: 50px; /*Font size*/
    margin: auto; /*Aligns items in the center*/
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button{
    height: 40px;
    width: 40px;
    background-color: #f48fb1; /* Soft pink button color */
    box-shadow: -2px -2px 0px #ffffff, 
                5px 5px 2px rgba(0,0,0,0.2); /* Box-shadow for depth */
    
    border: none;
    border-radius: 50px; /*Makes the buttons circular*/
    margin: 8px;
    color: #fff; /* White text for the button */
    font-size: 11px;
}
button:hover{
    background-color: #f06292; /* Darker pink when hovered */;
    transform: scale(1.1); /* Effect of increasing the size of the button */
}